html, body {
    margin: 0;
    height: 100%;
    font-family: Roboto, sans-serif;
}

.full-width {
    width: 100%;
}
.full-height {
    height: 100%;
}

.login-card {
    width: 380px;
    margin: 50px auto 50px auto;
}

.error {
    color: #d32F2f;
}

p {
    vertical-align: middle;
}